<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelancers Hub Password Reset</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

    .permanent-marker {
      font-family: 'Permanent Marker', cursive;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <h2 class="permanent-marker">Freelancers Hub Password Reset</h2>
    <p>Password reset has been init from: <span th:text="${userAgent}"></span></p>
    <p>To confirm or discard the password reset, click one of the buttons below:</p>
    <p>
      <a th:href="${confirmResetUri}" class="btn btn-success">Confirm Password Reset</a>
      <a th:href="${discardResetUri}" class="btn btn-danger">Discard Password Reset</a>
    </p>
    <p>If the buttons above don't work, you can copy and paste one of the following URLs into your web browser:</p>
    <p th:text="${confirmResetUri}">Confirm password reset.</p>
    <p th:text="${discardResetUri}">Discard password reset.</p>

    <p>Best regards,<br>Freelancers Hub.</p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
